# Java
source/**/*.class
source/**/*.jar
source/**/*.war

# Gradle
source/.gradle/
source/build/
source/out/

# Gradle Wrapper
!source/gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
source/.idea/
source/**/*.iml

# Miscellaneous
source/**/*.log
