<html>
    <head>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Ваша учетная запись создана</h1>
        Чтобы продолжить работу с приложением, перейдите по <a href="{{url}}">этой ссылке</a>.
    </body>
</html>
