<html>
    <head>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Вход в T-Challenge</h1>
        Чтобы продолжить работу с приложением, перейдите по <a href="{{backlink}}">этой ссылке</a>.
    </body>
</html>
