<html>
    <head>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h3>Ваша новая рабочая тетрадь</h3>
        Чтобы продолжить работу с приложением, перейдите по <a href="{{backlink}}">этой ссылке</a>.
    </body>
</html>
